.sp-bg{
    background: url("./assets/images/sp-bg.png");
    background-position: center center;
    background-size: cover;
}

.hero-cert::before{
    position: absolute;
    pointer-events: none;
    z-index: 2;
    content: '';
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background: url('./assets/images/heroOverlay.png');
    background-position: center center;
    background-size: cover;
    background-blend-mode:multiply;
    background-repeat: repeat-y;
}

.hide-bar::-webkit-scrollbar {
    display: none;
}
footer li:hover{
    text-decoration: underline;
    transition: .3s all ease-in;
    cursor: pointer;
}

form button:hover{
    opacity: 80%;
}
.hero-link{
    transition: .3s all ease;
}
.hero-link a:hover{
    text-decoration: underline;
    text-underline-offset: .4rem;
}

.volunteer-banner{
    position: relative;
    background-image: url('./assets/images/vol-banner.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    pointer-events: auto;
    z-index: 6;
}
.volunteer-banner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background:#f8f5f02d;
    background-blend-mode:darken ;
    z-index: -1;
}

@keyframes shimmer {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  .animate-shimmer {
    animation: shimmer 1.5s infinite;
  }



@media (max-width:768px) {
    .sp-bg{
        background-position:center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
