
.sp-bg{
    /* background: url("./assets/images/sp-bg.png"); */
    background-position: center center;
    background-size: cover;
}

.hero-cert::before{
    position: absolute;
    pointer-events: none;
    z-index: 2;
    content: '';
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background: url('./assets/images/heroOverlay.png');
    background-position: center center;
    background-size: cover;
    background-blend-mode:multiply;
    background-repeat: repeat-y;
}

.hide-bar::-webkit-scrollbar {
    display: none;
}
footer li:hover{
    text-decoration: underline;
    transition: .3s all ease-in;
    cursor: pointer;
}

form button:hover{
    opacity: 80%;
}
.hero-link{
    transition: .3s all ease;
}
.hero-link a:hover{
    text-decoration: underline;
    text-underline-offset: .4rem;
}

.volunteer-banner{
    position: relative;
    background-image: url('./assets/images/vol-banner.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    pointer-events: auto;
    z-index: 6;
}
.volunteer-banner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background:#f8f5f02d;
    background-blend-mode:darken ;
    z-index: -1;
}

@keyframes shimmer {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  .animate-shimmer {
    animation: shimmer 1.5s infinite;
  }

body {
    top: 0 !important;
}
.goog-te-gadget-icon{
    display:none !important;
 } 
 .goog-te-banner-frame {
   display: none !important;
 }
span .VIpgJd-ZVi9od-xl07Ob-lTBxed span:nth-child(1), span .VIpgJd-ZVi9od-xl07Ob-lTBxed span:nth-child(5){
    display: none !important;
}

span img{
    display: none !important;
}

#google_translate_element, #google_translate_element_mobile {
    min-width: 10rem;
    max-width: 10rem;
    background-color: #FDFDFD;
    border: none !important;
    overflow: hidden;
}
.goog-te-gadget-icon{
    display:none !important;
} 
.goog-te-gadget{
    pointer-events: none;
    position: relative;
    overflow: hidden;
    color: transparent !important;
    display: flex;
    justify-content: start;
}
.goog-te-combo:nth-child(1){
    display: none ;
}
.goog-te-combo:nth-child(2) {
    outline: none;
    padding: 5px;
    margin: 0;
    border-radius: 4px;
    font-size: 14px;
    min-width: 12rem;
    max-width: 12rem;
    min-height: 4rem;
    max-height:6rem;
    background-color: transparent !important;
    color: transparent !important;
    pointer-events: auto;
    cursor: pointer;
    position: relative;
    z-index: 15;
    font-family: 'aeonik';
}

body .goog-te-gadget::after {
    color: #7C7C7C !important;
    font-family: 'aeonik';
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    content: 'Change Language';
    letter-spacing: .05em;
    font-size:.9rem;
    font-weight: 600;
    padding-left: 2px;
    top:50%;
    transform:translateY(-35%);
    left:0;
    pointer-events: none;
    cursor: pointer;
    background:#FDFDFD !important;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 30;
}
.goog-te-combo option{
    color:#000;
    border: none !important;
}
.goog-te-combo option:hover{
    background-color: #330F6F !important;
}
#goog-gt-original-text{
    display: none !important;
}

body .VIpgJd-ZVi9od-ORHb, .VIpgJd-ZVi9od-ORHb-OEVmcd{
    opacity: 0 !important;
    background: none !important;
    position: absolute;
    top: -1000rem;
    pointer-events: none;
 }
 #goog-gt-tt, #goog-gt-vt, .VIpgJd-ZVi9od-aZ2wEe-wOHMyf{
    display: none !important; 
    pointer-events: none;
 }

 body .VIpgJd-yAWNEb-VIpgJd-fmcmS-sn54Q{
    -webkit-user-select: none !important; 
    -ms-user-select: none !important;
    user-select: none !important; 
    background-color: transparent;
    box-shadow: none;
    pointer-events: none;
}

@media (max-width:768px) {
    .sp-bg{
        background-position:center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
