@import "tailwindcss";

@font-face {
  font-family: 'Aptos';
  src: url('./assets/fonts/aptos.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-primary: #121063;
  --color-secondary: #4F17A8;
  --color-purple:#330F6F;
  --color-tetiary: #78dcca;
  --color-hero-bg:#F8F5F0;
  --color-cgray:#797977;
  --color-off-white:#DBD7D3;
  --color-dark:#040301;
  --font-aptos: "Aptos", "sans-serif"; 
}

